<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ meta_title }}</title>
    {{ css|raw }}
    {{ js|raw }}
</head>
<body>
<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4 login-block">
                    <h1 class="fs24 bold py-2 text-truncate">{{ 'admin.login.enter_in_panel'|trans }}</h1>
                    <div class="px-2">
                        <form action="#" class="justify-content-center login-form" method='post'>
                            <div class="form-group">
                                <label class="sr-only">Логин</label>
                                <input type="text" class="form-control" placeholder="Ваш логин" required name='login'>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Пароль</label>
                                <input type="password" class="form-control" placeholder="Ваш пароль" required name='password'>
                            </div>
                            <div class="form-group text-left mb5">
                                <input type="checkbox" name='is_remember' id="field_remember"> <label for="field_remember">Запомнить меня</label>
                            </div>
                            <p>
                                <button type="submit" class="btn btn-red fs18">Войти</button>
                            </p>
                            <p class='mb0 text-center'><a href='#' class='underline color-white remember-password'>Забыли пароль?</a></p>
                        </form>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4 password-block d-none">
                    <h1 class="fs24 bold py-2 text-truncate">Забыли пароль?</h1>
                    <div class="px-2">
                        <form action="#" class="justify-content-center login-form" method='post'>
                            <div class="form-group">
                                <label class="sr-only">Логин</label>
                                <input type="text" class="form-control" placeholder="Ваш логин" required name='login'>
                                <input type='hidden' name='is_remind' value='1'>
                            </div>
                            <p>
                                <button type="submit" class="btn btn-red fs18">Напомнить</button>
                            </p>
                            <p class='mb0 text-center'><a href='#' class='underline color-white to-login-block'>Вернуться к форме входа</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="change-category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Сообщение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
